packages:
  yum:
    php-cli: []  # Ensure PHP CLI is available
    unzip: []    # Required for composer
    curl: []

commands:
  01_install_composer:
    command: |
      if [ ! -f /usr/bin/composer ]; then
        curl -sS https://getcomposer.org/installer | php
        mv composer.phar /usr/bin/composer
        chmod +x /usr/bin/composer
      fi

container_commands:
  01_composer_install:
    command: "export COMPOSER_HOME=/root && /usr/bin/composer install --no-interaction --prefer-dist >> /var/log/composer-update.log 2>&1"
    cwd: "/var/app/current"
