commands:
  01_install_composer:
    command: |
      curl -sS https://getcomposer.org/installer | php
      mv composer.phar /usr/bin/composer
      chmod +x /usr/bin/composer

container_commands:
  01_run_composer_install:
    command: "/usr/bin/composer install --no-interaction --prefer-dist >> /var/log/composer.log 2>&1"
    cwd: "/var/app/current"
